h1{
    text-align: center;
    font-weight: bold;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 15px;
    box-sizing: border-box;

}

.table-item h3 {
    text-align: center;
}

